.nav {
  display: flex;
  list-style: none;
  align-items: center;
  margin-left: auto;

  &-list {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &-list__item {
    text-decoration: none;
    color: $color-white;

    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    transition: all ease .3s;
    &:hover{
      opacity: .8;
    }
  }
}